@page
@model SportsClub.Pages.memberPlan.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plan.planType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.planType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plan.id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
