@page
@model SportsClub.Pages.memberPlan.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plan.planType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.planType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plan.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
